@media (min-width: 1024px) {
  .itemsTable {
    flex: 1;
  }
}

@media (max-width: 1024px) {
  .itemsTable {
    flex: 0;
  }

  .title {
    align-self: center;
  }

  .itemsTable {
    margin-bottom: 1rem;
  }
}

.dark-mode-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;

  .pi {
    margin-top: 2px;
    font-size: 2.2rem;
  }
}

.addItemsButton {
  min-width: 160px;
  align-self: flex-end;
}

.itemsTable {
  width: 100%;
  height: calc(100% - 300px);
  table-layout: fixed;
}