<p-button icon="pi pi-moon" class="dark-mode-toggle" severity="secondary" (click)="toggleDarkMode()"></p-button>

<div class="page">
  <p-card>
    <div class="title m-2 mb-4">
      <i class="pi pi-gift"></i>
      <h2 class="m-0">WishList</h2>
    </div>
    <p-table class="itemsTable" [value]="items" scrollable="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 70%;">Dorință</th>
          <th style="width: 20%;">Pentru</th>
          <th style="width: 10%;">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.user }}</td>
          <td class="text-center">
            <p-select *ngIf="item.user != name" [options]="statusOptions" [(ngModel)]="item.status"
              (onChange)="updateStatus(item)" placeholder="Selectează status" appendTo="body"
              [ngStyle]="{'min-width': '115px'}" [disabled]="item.status != 'New' && item.statusBy != name">
            </p-select>
            <button *ngIf="item.user == name" class="p-button-danger" pButton icon="pi pi-trash"
              (click)="deleteItem(item)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-center p-4">{{'Încă nu au fost adăugate cadouri :)'}}</td>
        </tr>
      </ng-template>
    </p-table>

    <button class="mt-4 addItemsButton" pButton label="Adaugă" icon="pi pi-plus" (click)="showDialog()"></button>
  </p-card>

  <p-dialog styleClass="dialog" header="Adaugă o dorință" [(visible)]="displayDialog" [modal]="true" [closable]="true"
    position="top" [draggable]="false">
    <div class="mt-4 mb-2">
      <p-floatlabel class="w-100">
        <input #inputGift class="w-100" type="text" pInputText minlength="2" [(ngModel)]="newItemName"
          placeholder="Scrie ce iți dorești..." focusOnShow required />
      </p-floatlabel>
    </div>
    <ng-template #footer>
      <button pButton label="Adaugă" icon="pi pi-check" (click)="addItem()"
        [disabled]="inputGift.value.length <= 2"></button>
    </ng-template>
  </p-dialog>

  <p-dialog styleClass="dialog" header="Introdu numele tău" [(visible)]="nameDialogVisible" [modal]="true"
    [closable]="false" position="top" [draggable]="false">
    <div class="mt-4 mb-2">
      <p-floatlabel class="w-100">
        <input #inputName class="w-100" type=" text" pInputText minlength="2" [(ngModel)]="name" focusOnShow required />
        <label>Nume...</label>
      </p-floatlabel>
    </div>

    <ng-template #footer>
      <button pButton type="button" label="Continuă" icon="pi pi-check" (click)="onEnterName()"
        [disabled]="inputName.value.length <= 2"></button>
    </ng-template>
  </p-dialog>
</div>