<div class="page">
  @if(!userDialogVisible) {
  <p-card>
    <div class="title">
      <div class="logo">
        <img class="logo-img" src="assets/icons/Gift.webp" />
        <h3 class="m-0 user-select-none">WishList</h3>
      </div>
      <div style="flex-grow: 1;"></div>
      <div class="tags">
        <p-tag class="tag" (click)="groupPopover.toggle($event)" [value]="currentGroupCode | uppercase" severity="info">
          <img class="small-img" src="assets/icons/Group.webp" />
        </p-tag>
        <p-popover #groupPopover>
          <ng-template #content>
            <div class="members mb-4">
              @for (member of groupMembers; track member.email) {
              <div class="member">
                <img class="small-img me-2" src="assets/icons/{{ member.faceIcon }}" />
                <strong>{{ member.fullname }}</strong>
              </div>
              }
            </div>
            <button pButton label="Schimbă grupul" (click)="showChangeGroupDialog(); groupPopover.hide()"
              severity="warn"></button>
          </ng-template>
        </p-popover>
        <p-tag class="tag" (click)="userPopover.toggle($event)" [value]="currentUser.fullname" severity="success">
          <img class="small-img" src="assets/icons/User.webp" />
        </p-tag>
        <p-popover #userPopover>
          <ng-template #content>
            <button pButton label="Deconectare" (click)="disconnectUser()" severity="danger"></button>
          </ng-template>
        </p-popover>
      </div>
      <p-button severity="secondary" (click)="toggleDarkMode()">
        @if (darkMode === 'enabled') {
        <img class="small-img" src="assets/icons/Sun.webp" />
        }
        @if (darkMode === 'disabled') {
        <img class="small-img" src="assets/icons/Moon.webp" />
        }
      </p-button>
    </div>

    <p-tabs [(value)]="selectedTab" class="h-100">
      @if(!isLoadingItems) {
      <p-tablist>
        <p-tab value="0">Disponibile
          <p-badge [value]="getFilteredItems('0').length"></p-badge>
        </p-tab>
        <p-tab value="1">Personale</p-tab>
        <div style="flex-grow: 1;"></div>
        <p-tab value="2">Luate</p-tab>
      </p-tablist>
      <p-tabpanels class="p-0">
        @if(selectedTab == '1') {
        <span class="d-flex align-items-center m-2 text-muted small">
          <i class="pi pi-info-circle ms-1"></i>
          <p class="m-0 ms-2">Aici apar dorințele tale. Statusul lor nu va fi vizibil pentru tine 😉. Le poți șterge
            doar pe cele din ultimele 30 de zile.</p>
        </span>
        }
        <p-dataView class="itemsList" [value]="getFilteredItems(selectedTab)" layout="list">
          <ng-template #list let-items>
            @for (item of items; track item.name) {
            <div class="data-item p-3 d-flex align-items-center justify-content-between">
              <div class="data-main">
                @if(selectedTab == '0') {
                <div class="text-muted small" [innerHTML]="(item.userFullname || '<i>Anonim</i>') + ' ar vrea:'">
                </div>
                }
                @if(selectedTab == '1') {
                <div class="text-muted small">{{ item.date | date:'dd.MM.yyyy' }}</div>
                }
                @if(selectedTab == '2') {
                <div class="text-muted small" [innerHTML]="(item.userFullname || '<i>Anonim</i>') + ' a primit:'">
                </div>
                }
                <div class="item-name fw-semibold" [innerHTML]="item.name | linkify:false:1111"></div>
              </div>

              <div class="data-actions">
                @if (selectedTab=='0') {
                @if (item.status == 'pending' && item.statusBy != currentUser.username) {
                <span class="status-badge">Ocupat de {{ item.statusByFullname }}</span>
                }
                @else {
                <p-select [options]="statusOptions" [ngModel]="item.status"
                  (onChange)="updateStatus(item, $event.value)" appendTo="body" [ngStyle]="{'min-width': '150px'}">
                </p-select>
                }
                }
                @if (selectedTab=='1' && isItemDeletable(item)) {
                <button severity="danger" pButton icon="pi pi-trash" (click)="deleteWish(item)"></button>
                }
                @if (selectedTab=='2') {
                <div class="text-muted small">{{ item.statusDate | date:'dd.MM.yyyy' }}</div>
                }
              </div>
            </div>
            }
          </ng-template>

          <ng-template #emptymessage class="text-center">
            @if (selectedTab=='0') {
            <img class="empty-img" src="assets/icons/Shrugging.gif" />
            <div>Încă nu au fost adăugate dorințe</div>
            }
            @if (selectedTab=='1') {
            <img class="empty-img" src="assets/icons/Shrugging.gif" />
            <div>Încă nu ai adăugat dorințele tale</div>
            }
            @if (selectedTab=='2') {
            <img class="empty-img" src="assets/icons/Shrugging.gif" />
            <div>Încă nu au fost luate dorințe</div>
            }
          </ng-template>
        </p-dataView>
      </p-tabpanels>
      }
      @else {
      <div class="loading-overlay">
        <p-progress-spinner />
      </div>
      }
    </p-tabs>

    <div class="w-100 d-flex justify-content-end">
      <button class="mt-4 addItemsButton" pButton label="Adaugă dorința ta" icon="pi pi-plus"
        (click)="showAddDialog()"></button>
    </div>
  </p-card>
  }
</div>

<p-dialog styleClass="dialog" header="Adaugă o dorință" [(visible)]="addDialogVisible" [modal]="true"
  [resizable]="false" [closable]="true" [draggable]="false">
  <div class="mt-4 mb-2">
    <p-floatlabel class="w-100">
      <textarea pTextarea class="w-100" minlength="3" [(ngModel)]="newItemName" placeholder="Scrie ce iți dorești..."
        required></textarea>
    </p-floatlabel>
  </div>
  <ng-template #footer>
    <button pButton label="Adaugă" icon="pi pi-check" type="submit" (click)="saveWish()"
      [disabled]="newItemName.length < 3"></button>
  </ng-template>

  @if (isSavingItem) {
  <div class="loading-overlay">
    <p-progress-spinner />
  </div>
  }
</p-dialog>

<p-dialog styleClass="dialog" header="Cine ești?" [(visible)]="userDialogVisible" [modal]="true" [closable]="false"
  [draggable]="false" [resizable]="false" [focusOnShow]="!isMobile">
  <div class="user-dialog-content">
    <img class="person-img" src="assets/icons/Person.gif" />
    <div class="user-form">
      <p-floatlabel class="w-100">
        <input class="w-100" type="text" pInputText minlength="3" [(ngModel)]="currentUser.fullname"
          autocomplete="given-name" required />
        <label>Nume</label>
      </p-floatlabel>
      <p-floatlabel class="w-100 mt-4">
        <input class="w-100" type="email" pInputText [(ngModel)]="currentUser.email" autocomplete="email"
          [pattern]="emailPattern" required />
        <label>Email</label>
      </p-floatlabel>
      <div class="w-100 mt-4 d-flex gap-2">
        <p-floatlabel>
          <input type="text" class="text-uppercase w-100" pInputText [(ngModel)]="currentGroupCode" minlength="7"
            maxlength="7" required />
          <label>Cod grup</label>
        </p-floatlabel>
        <button pButton type="button" (click)="saveUserData()" style="min-width: fit-content;"
          [disabled]="currentUser.fullname.length < 3 || !currentUser.email.match(emailPattern) || currentGroupCode.length < 7">
          <span pButtonLabel>Continuă</span>
          <i pButtonIcon class="pi pi-chevron-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog styleClass="dialog" header="Schimbă grupul" [(visible)]="groupDialogVisible" [modal]="true" [closable]="true"
  [closeOnEscape]="true" [draggable]="false" [resizable]="false">
  <div> Alege un grup în care ești deja sau introdu un cod nou: </div>
  <div class="tags justify-content-start mt-2">
    @for (group of userGroups; track group.groupCode) {
    <p-tag class="tag" (click)="selectUserGroup(group.groupCode)" severity="info"
      [ariaDisabled]="group.groupCode === currentGroupCode">
      <img class="small-img" src="assets/icons/Group.webp" />
      {{ group.groupCode | uppercase }}
    </p-tag>
    }
  </div>
  <div class="user-dialog-content mt-4">
    <img class="group-img" src="assets/icons/Group.gif" />
    <div class="user-form">
      <p-floatlabel>
        <input type="text" class="text-uppercase w-100" pInputText [(ngModel)]="newGroupCode" minlength="7"
          maxlength="7" required />
        <label>Cod grup</label>
      </p-floatlabel>
      <div class="w-100 mt-4 d-flex justify-content-end">
        <button pButton type="button" (click)="changeGroup()" style="min-width: fit-content;"
          [disabled]="newGroupCode.length < 7">
          <span pButtonLabel>Continuă</span>
          <i pButtonIcon class="pi pi-chevron-circle-right"></i>
        </button>
      </div>
    </div>
  </div>

  @if (isLoadingItems) {
  <div class="loading-overlay">
    <p-progress-spinner />
  </div>
  }
</p-dialog>

<p-confirmDialog></p-confirmDialog>