<div class="page">
  @if(!userDialogVisible) {
  <p-card>
    <div class="title">
      <div class="logo">
        <img class="logo-img" src="assets/icons/Gift.webp" />
        <h3 class="m-0">WishList</h3>
      </div>
      <div style="flex-grow: 1;"></div>
      <div class="tags">
        <p-tag class="tag" (click)="groupPopover.toggle($event)" [value]="currentUser.groupCode | uppercase"
          severity="info">
          <img class="small-img" src="assets/icons/Group.webp" />
        </p-tag>
        <p-popover #groupPopover>
          <ng-template #content>
            <button pButton label="Deconectare" (click)="disconnectUser()" severity="danger"></button>
          </ng-template>
        </p-popover>
        <p-tag class="tag" (click)="userPopover.toggle($event)" [value]="currentUser.fullname" severity="success">
          <img class="small-img" src="assets/icons/User.webp" />
        </p-tag>
        <p-popover #userPopover>
          <ng-template #content>
            <button pButton label="Deconectare" (click)="disconnectUser()" severity="danger"></button>
          </ng-template>
        </p-popover>
      </div>
      <p-button severity="secondary" (click)="toggleDarkMode()">
        @if (darkMode === 'enabled') {
        <img class="small-img" src="assets/icons/Sun.webp" />
        }
        @if (darkMode === 'disabled') {
        <img class="small-img" src="assets/icons/Moon.webp" />
        }
      </p-button>
    </div>

    <p-tabs [(value)]="selectedTab" class="h-100">
      @if(!isLoadingItems) {
      <p-tablist>
        <p-tab value="0">Disponibile
          <p-badge [value]="getFilteredItems('0').length"></p-badge>
        </p-tab>
        <p-tab value="1">Personale</p-tab>
        <div style="flex-grow: 1;"></div>
        <p-tab value="2">Luate</p-tab>
      </p-tablist>
      <p-tabpanels class="p-0">
        <p-dataView class="itemsList" [value]="getFilteredItems(selectedTab)" layout="list" selecti>
          <ng-template #list let-items>
            @for (item of items; track item.name) {
            <div class="data-item p-3 d-flex align-items-center justify-content-between">
              <div class="data-main">
                @if(selectedTab == '0') {
                <div class="item-user text-muted small">{{ item.userFullname || 'Cineva neînregistrat' }} ar vrea:</div>
                }
                @if(selectedTab == '2') {
                <div class="item-user text-muted small">{{ item.userFullname || 'Cineva neînregistrat' }} a primit:
                </div>
                }
                <div class="item-name fw-semibold">{{ item.name }}</div>
              </div>

              <div class="data-actions">
                @if (selectedTab=='0') {
                @if (item.status == 'pending' && item.statusBy != currentUser.username) {
                <span class="status-badge">Ocupat de {{ item.statusByFullname }}</span>
                }
                @else {
                <p-select [options]="statusOptions" [ngModel]="item.status"
                  (onChange)="updateStatus(item, $event.value)" appendTo="body" [ngStyle]="{'min-width': '150px'}">
                </p-select>
                }
                }
                @if (selectedTab=='1') {
                <button class="p-button-danger" pButton icon="pi pi-trash" (click)="deleteItem(item)"></button>
                }
                @if (selectedTab=='2') {
                <div class="text-muted small">{{ item.statusDate | date:'dd.MM.yyyy' }}</div>
                }
              </div>
            </div>
            }
          </ng-template>

          <ng-template #emptymessage class="text-center">
            @if (selectedTab=='0') {
            <img class="empty-img" src="assets/icons/Shrugging.gif" />
            <div>Încă nu au fost adăugate dorințe</div>
            }
            @if (selectedTab=='1') {
            <img class="empty-img" src="assets/icons/Shrugging.gif" />
            <div>Încă nu ai adăugat dorințele tale</div>
            }
            @if (selectedTab=='2') {
            <img class="empty-img" src="assets/icons/Shrugging.gif" />
            <div>Încă nu au fost luate dorințe</div>
            }
          </ng-template>
        </p-dataView>
      </p-tabpanels>
      }
      @else {
      <div class="loading-overlay">
        <p-progress-spinner />
      </div>
      }
    </p-tabs>

    <div class="w-100 d-flex justify-content-end">
      <button class="mt-4 addItemsButton" pButton label="Adaugă dorința ta" icon="pi pi-plus"
        (click)="showAddDialog()"></button>
    </div>
  </p-card>
  }

  <p-dialog styleClass="dialog" header="Adaugă o dorință" [(visible)]="addDialogVisible" [modal]="true"
    [resizable]="false" [closable]="true" [draggable]="false">
    <div class="mt-4 mb-2">
      <p-floatlabel class="w-100">
        <textarea pTextarea class="w-100" minlength="3" [(ngModel)]="newItemName" placeholder="Scrie ce iți dorești..."
          required></textarea>
      </p-floatlabel>
    </div>
    <ng-template #footer>
      <button pButton label="Adaugă" icon="pi pi-check" type="submit" (click)="saveItem()"
        [disabled]="newItemName.length < 3"></button>
    </ng-template>

    @if (isSavingItem) {
    <div class="loading-overlay">
      <p-progress-spinner />
    </div>
    }
  </p-dialog>

  <p-dialog styleClass="dialog" header="Cine ești?" [(visible)]="userDialogVisible" [modal]="true" [closable]="false"
    [draggable]="false" [resizable]="false" [focusOnShow]="!isMobile">
    <div class="user-dialog-content">
      <img class="person-img" src="assets/icons/Person.gif" />
      <div class="user-form">
        <p-floatlabel class="w-100">
          <input class="w-100" type="text" pInputText minlength="3" [(ngModel)]="currentUser.fullname"
            autocomplete="given-name" required />
          <label>Nume</label>
        </p-floatlabel>
        <p-floatlabel class="w-100 mt-4">
          <input class="w-100" type="email" pInputText [(ngModel)]="currentUser.email" autocomplete="email"
            [pattern]="emailPattern" required />
          <label>Email</label>
        </p-floatlabel>
        <div class="w-100 mt-4 d-flex gap-2">
          <p-floatlabel>
            <input type="text" class="text-uppercase w-100" pInputText [(ngModel)]="currentUser.groupCode" minlength="7"
              maxlength="7" required />
            <label>Cod grup</label>
          </p-floatlabel>
          <button pButton type="button" (click)="saveUserData()" style="min-width: fit-content;"
            [disabled]="currentUser.fullname.length < 3 || !currentUser.email.match(emailPattern) || currentUser.groupCode.length < 6">
            <span pButtonLabel>Continuă</span>
            <i pButtonIcon class="pi pi-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>

    @if (isSavingUser) {
    <div class="loading-overlay">
      <p-progress-spinner />
    </div>
    }
  </p-dialog>
</div>

<p-confirmDialog></p-confirmDialog>