body {
  background-color: var(--ground-background) !important;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {
  p-card {
    width: 60%;
    height: 80%;
  }

  .dialog {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  p-card {
    width: 100%;
    height: 100%;
  }

  .dialog {
    width: 100%;
  }

  .p-card-content {
    justify-content: start !important;
  }

  .p-card-body {
    padding-inline: 0.4rem !important;
  }
}

.p-card {
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1) !important;

  .p-card-body {
    height: 100%;
    width: 100%;

    .p-card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
  }
}

.p-dialog {
  position: absolute;
  top: 10%;
}

.p-datatable {
  height: 100%;

  .p-datatable-table-container {
    overflow: auto;
    height: 100%;
  }

  .p-datatable-tbody {
    overflow: auto;
    height: 24%;
  }
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--p-datatable-header-cell-background);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--p-form-field-disabled-background);
}